.countdown-timer{
    margin-top: 4px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    font-size: 1.05rem;
    gap: 8px;
    flex-wrap: wrap;
}
.time-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px 4px;
    min-width: 36px;
}